*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    line-height: 1.5;
}

a{
    color:#000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

li{
    list-style-type: none;
    text-align: center;
    margin:0 10px;  
}

li a:hover{
    color: #fff;
    background: #374a67;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left:5%;
    padding-right:5%;
    /*Kurschreibweise: padding: 0 5%; */
}


.hidden{
    display:none;
}

/* kann auch ohne class-zuweisung arbeiten und es dann so schreiben:
header nav{
    display:none;
}*/

@media (min-width:960px)
{
    .hidden{
        display:block;
     }

     #burger{
        display: none;
     }

    nav ul{
        display: flex;
    }
}
